// Needs to be placed here because the sound item component uses this font, and
// @font-face doesn't work in a shadow DOM
@font-face {
  font-family: 'orbitronlight';
  src: url('./src/assets/fonts/orbitron-light-webfont.woff2') format('woff2'),
    url('./src/assets/fonts/orbitron-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


//// General css setup

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  max-width: 960px;
  margin: 0 auto;

  font-size: 10px;
}


//// Define custom properties for the site css. These leak into the shadow DOM

:root {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --nav-bar-height: 7rem;
  --soundBoard-grid-gap: 0.5rem;
}


//// Spacing and Sizing //////////////////////

body {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

nav-bar {
  position: fixed;
  top: calc(100% - var(--nav-bar-height));
  width: 100%;
  max-width: 960px;
  height: var(--nav-bar-height);
}

#soundBoard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 1fr;
  gap: var(--soundBoard-grid-gap);
  padding: var(--soundBoard-grid-gap);
  margin-bottom: calc(var(--nav-bar-height));

  // To allow animation to function
  position: relative;
}

#soundBoard sound-item {
  display: flex;
  flex-direction: column;
}


//// Aesthetics //////////////////////

body {
  font-size: 1.6rem;
}

#soundBoard {
  // requires a declaration in order for the transition to work the first time
  // navigation occurs
  right: 0;
  transition: right 200ms linear;
}